@import "compass/reset";
@import "compass/utilities/general/clearfix";

@import "./application/layout";

$background-color: #fabc9d;

body {
  font-family: "Helvetica", "Arial", "sans";
  background-color: $background-color;
  color: #fff;
}
